<%- include('partials/header') %>

<main class="container py-4">
    <!-- Welcome -->
    <div class="text-center">
        <h2 class="h4 my-4">
            Vous avez 2 minutes pour retrouver toutes les paires !
        </h2>
    </div>

    <!-- Cards -->
    <div class="game-coutainer">
        <% cards.forEach(card => { %>
        <div class="card turn-On" id="card<%= card.id %>" data-img-src="<%= card.img_src %>">
            <img
                class="img_src"
                src="/images/carte.png"
                alt="<%= card.name %>"
            />
        </div>
        <% }) %> <% cardsMixed.forEach(card => { %>
        <div class="card turn-On" id="card" data-img-src="<%= card.img_src %>">
            <img
                class="img_src"
                src="/images/carte.png"
                alt="<%= card.name %>"
            />
        </div>
        <% }) %>
    </div>
</main>

<%- include('partials/footer') %>
